[submodule "submodules/bgfx"]
	path = submodules/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "submodules/bx"]
	path = submodules/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "submodules/bimg"]
	path = submodules/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "submodules/pugixml"]
	path = submodules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "submodules/vg-renderer"]
	path = submodules/vg-renderer
	url = https://github.com/jdryg/vg-renderer.git
